{% load static %}
<html>
    <head>
        <title>Message editor</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/message_editor.css' %}">
    </head>
    <body>

       {% include 'message_editor/navbar.html' %}
<br/>

    <div class="page-header">

        <h1><a href="/">Message editor</a></h1>

    </div>
    <div class="container">

            {% block content %}
            {% endblock %}

    </div>
</body>
</html>