{% extends 'message_editor/base.html' %}
{% block content %}

<table class = table table-striped table-hover table-bordered >
	<tr><td><h1>Messages</h1></td> <td><input type="submit" value = "Update" class = "btn btn-secondary"></td></tr>
	{% for message in data%}
            <tr>
<td>
	<a href="{% url 'show-message' message.id %}">{{message.title}}</a><br/>
</td>
				<td align = "right">


					<a href="{% url 'update-message' message.id%}">Update</a>
					<a href="{% url 'delete-message' message.id%}">Delete</a>
				</td>
</tr>
		{% endfor %}

</table>

{% endblock %}